html,
body {
  background-color: #282c34;
  color: white;
  font-size: 1rem;
}

.App-header {
  background-color: #282c34;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 1rem;
}
.container {
  padding-left: 4rem;
  padding-right: 4rem;
  max-width: 1200px;
}
.flex {
  display: flex;
}
.link {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #61dafb;
}

.form {
  background-color: #282c34;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.box {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  min-width: 20rem;
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
}
.btn.transparent {
  display: block;
  cursor: pointer;
  padding: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: transparent;
  color: white;
}

.footer {
  background-color: #282c34;
}

.link {
  margin-right: 1rem;
}
